[Desktop Entry]
Name=RISS Launcher
Comment=Minimalist application launcher
Exec=riss_launcher
Icon=search
Type=Application
Categories=Utility;System;
Keywords=launcher;search;apps;applications;
StartupNotify=false
Terminal=false
